body{
    background-color: #454545;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;
}


a{
    color: #2896d2;
    text-decoration: none;
}

a.active{
    color: #3ac73a;
}

.errors{
    color: #ee6c6c;
}