<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /fryzjer/
    RewriteRule ^index\.php＄ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /fryzjer/index.php [L]

 </IfModule>
